/* Estilo general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f7f5;
    color: #333;
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #176b4d;
}

p {
    font-size: 18px;
}

/* Barra de navegación */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 18px;
    background-color: #176b4d;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #f2c94c;
    color: #333;
    transform: scale(1.1);
}

/* Saltar al contenido */
.saltar {
    position: absolute;
    left: -1000px;
}

.saltar:focus {
    left: 10px;
    top: 10px;
    background-color: white;
    color: #176b4d;
    padding: 10px;
}

/* Imágenes */
img {
    width: 250px;
    border: 4px solid #176b4d;
    padding: 6px;
    border-radius: 15px;
    background-color: white;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px #999;
}

/* Grid */
.grid,
.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-items: center;
}

/* nth-child */
.galeria img:nth-child(2) {
    border-radius: 30px;
}

.galeria img:nth-child(3) {
    border-radius: 5px;
}

.galeria img:nth-child(4) {
    border-radius: 40px;
}